# Operating Files #
###################
.DS_Store
/.idea

# Files to Process #
####################
*.rtf

# Processed Files #
###################
*.xml

# Debug Directory #
###################
/Contents/debugdir

# Log Files #
#############
*.log