# Operating Files #
###################
.DS_Store
/.idea

# Files to Process #
####################
/Contents/Artis (from Word).rtf
/Contents/IHLOChapter.rtf
/Contents/SeytLinesPost.rtf
/Contents/test.rtf

# Processed Files #
###################
*.xml

# Debug Directory #
###################
/Contents/debugdir

# Utilities #
#############
/Utilities/*.*

# Tests #
#########
/tests/*.*
/tests/data/*.*

# Log Files #
#############
*.log

# IDE Files #
#############
rtox.code-workspace
.vscode

# Other #
#########
__pycache__
/Contents/__pycache__
/Contents/Library/__pycache__
/Contents/Library/dicts/__pycache__
