# Operating Files #
###################
.DS_Store
/.idea

# Files to Process #
####################
/Contents/Artis (from Word).rtf
/Contents/input/IHLOChapter.rtf
/Contents/input/SeytLinesPost.rtf
/Contents/test.rtf

# Processed Files #
###################
*.xml

# Debug Directory #
###################
/Contents/debugdir

# Utilities #
#############
/Utilities

# Tests #
#########
/tests/*.*
/tests/data/*.*

# Log Files #
#############
*.log

# venv #
########
venv/bin/
venv/include/
venv/pyvenv.cfg

# Other #
#########
__pycache__
/Contents/__pycache__
/Contents/Library/__pycache__
/Contents/Library/dicts/__pycache__
/bin
Contents/MacOS/
Contents/Plugins/
Contents/Utilities/test.csv
Contents/help/
include/
